<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading? 'Loading...' : place.name }}</ion-title>
    <!-- <ion-title>{{ places[0].name }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading && place">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="place.imageUrl"></ion-img>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">
        <h6>{{ place.name }}, Singapore {{ place.postal }}</h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding" size="10">
        <ion-item lines="none">Current Status: {{ place.status }}% Full</ion-item>
      </ion-col>

      <ion-col size="1">
        <ion-icon name="person"></ion-icon>
      </ion-col>

      <ion-col size="1">
        <ion-label>13</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding" size="6">
        <ion-item lines="none">Image 1:</ion-item>
      </ion-col>

      <ion-col size="1">
        <ion-icon name="thumbs-up-sharp" (click)="upVote()"></ion-icon>
      </ion-col>

      <ion-col size="1">
        <ion-label>7</ion-label>
      </ion-col>

      <ion-col size="1">
        <ion-icon name="thumbs-down-sharp" (click)="downVote()"></ion-icon>
      </ion-col>

      <ion-col size="1">
        <ion-label>3</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-label>4m</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding" size="6">
        <ion-item lines="none">Image 2:</ion-item>
      </ion-col>

      <ion-col size="1">
        <ion-icon name="thumbs-up-sharp" (click)="upVote()"></ion-icon>
      </ion-col>

      <ion-col size="1">
        <ion-label>6</ion-label>
      </ion-col>

      <ion-col size="1">
        <ion-icon name="thumbs-down-sharp" (click)="downVote()"></ion-icon>
      </ion-col>

      <ion-col size="1">
        <ion-label>4</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-label>5m</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button>View More</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
